.jumbotron{
  background-color: #2C8362;
  color: #FFFFFF;
}
.navbar-inverse{
  background-color: #FF881F;
  border-color: #FF881F;
}
.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}
.navbar-inverse .navbar-nav>li>a{
  color: #FFFFFF;
}
.welcome{
  text-align: center;
}
